<form id="search" method="get" action="/search">
<input type="text" name="q" value="<%=h params[:q] %>"/>
<input type="submit" value="search" />
</form>
<ul id="statuses">
<% @statuses.each do |s| %>
  <li class="status">
    <span class="status_body">
      <%=h s[:time] %> (<%= highlight(h(s[:nick]), @words) %>) <%= highlight(h(s[:message]), @words) %>
    </span>
  </li>
<% end %>  
</ul>
