<form id="search" method="get" action="/search">
<input type="text" name="q" value="<%= @q %>"/>
<input type="submit" value="search" />
</form>
<ul id="statuses">
<% @statuses.each do |s| %>
  <li class="status">
    <span class="status_body"><%= s[:time] %> (<%= s[:nick] %>) <%= s[:message] %></span>
  </li>
<% end %>  
</ul>
