<form id="search" method="get" action="/search">
<input type="text" name="q" />
<input type="submit" value="search" />
</form>
<ul id="statuses">
<% @statuses.each do |s| %>
  <li class="status">
    <span class="status_body"><%= s[:nick] %>: <%= s[:message] %>  [<%= s[:time] %>]</span>
  </li>
<% end %>  
</ul>
